@charset "UTF-8";
/*COLORES*/
/*TAMAÑOS*/
header {
  background-color: #F7F1E3;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 15px;
  color: #f8afd4;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  margin: 10px;
  display: block; }

h3 {
  font-size: 15px;
  color: #323232;
  font-family: "Source Code Pro", monospace;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
  padding: 25px;
  grid-area: titulo; }

h4 {
  font-size: 10px;
  color: #323232;
  font-family: "Source Code Pro", monospace;
  font-weight: bolder;
  text-align: left; }

section {
  background-color: #f8afd4;
  padding: 5px; }

article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; }

footer {
  background-color: #F7F1E3;
  padding-top: 20px; }
  footer p.text-center {
    padding-bottom: 5px;
    margin: 0;
    padding: 0.5em; }
    footer p.text-center a {
      text-decoration: none;
      color: #323232; }
      footer p.text-center a a:hover {
        color: #f8afd4; }

p {
  color: #323232;
  font-family: "Source Code Pro", monospace;
  font-size: 10px;
  text-align: left;
  margin-left: 40px; }
  p var {
    font-weight: bolder; }

tr th {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  color: #964d00; }

tr td {
  font-family: "Source Code Pro", monospace;
  font-size: 18px; }
  tr td td.tabla .tabla__lista .tabla__lista-elemento {
    list-style-image: url(images/pandulce1.ico); }

fieldset {
  border: 0px;
  padding-top: 30px; }

form {
  color: #323232;
  font-family: "Source Code Pro", monospace;
  font-size: 12px;
  display: inline-block; }

input {
  margin: 4px;
  border: 0px;
  width: 200px;
  height: 20px;
  border-radius: 50px; }

select {
  margin: 4px;
  border: 0px;
  width: 200px;
  height: 20px; }

textarea {
  margin: 4px;
  border: 0px;
  width: 200px;
  height: 20px;
  border-radius: 10px; }

.menu-nav {
  background-color: #fcf0d6;
  border: none;
  align-items: flex-end; }

.navbar-toggler {
  padding: .02rem .5rem;
  font-size: 1.2rem; }

a.menu-item.navbar-brand {
  font-size: 1em; }

.articulo-principal {
  padding: 10px;
  grid-area: articleIndex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .articulo-principal .articulo-principal__div-img1, .articulo-principal .articulo-principal__div-img2 {
    flex: 1;
    min-width: 20px; }
    .articulo-principal .articulo-principal__div-img1 .imagenPrincipal1, .articulo-principal .articulo-principal__div-img2 .imagenPrincipal1, .articulo-principal .articulo-principal__div-img2 .imagenPrincipal2 {
      width: 100%; }
  .articulo-principal .articulo-principal__div-parrafo {
    flex: 1; }
    .articulo-principal .articulo-principal__div-parrafo .div-parrafo__parrafo-principal {
      color: #323232;
      font-family: "Source Code Pro", monospace;
      font-size: 10px;
      margin: auto;
      padding: 10px;
      font-weight: bold;
      text-align: center; }

.imagenRedesSociales {
  width: 2em; }

.div-contactanos {
  margin-top: 10px;
  margin-bottom: 25px; }
  .div-contactanos .div-contactanos__redes-contacto {
    color: #f8afd4;
    font-family: "Source Code Pro", monospace;
    font-size: 10px;
    text-align: center;
    padding: 5px;
    margin: 0px; }
    .div-contactanos .div-contactanos__redes-contacto a {
      text-decoration: none;
      color: #323232; }

.redesDeContacto:hover {
  background-color: pink; }

.redesDeContacto a:hover {
  color: white; }

.div__logo {
  height: 100px;
  padding: 10px;
  display: inline-block; }
  .div__logo .div__logo-imagen {
    height: 100%; }

.pieDeTabla {
  color: #323232;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  text-align: center; }

.ul__li-medios-de-pago {
  color: black;
  font-size: 18px;
  font-family: "Source Code Pro", monospace;
  text-align: left; }

.nuestraHistoria {
  text-align: left;
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px; }

.pedidos {
  text-align: left;
  display: inline-block;
  margin-left: 100px;
  margin-right: 100px; }

.divForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; }

.inputEnviar {
  font-family: "Josefin Sans", sans-serif;
  background-color: pink; }

@media only screen and (min-width: 568px) {
  .div__logo {
    height: 125px; }
  h1 {
    font-size: 35px; }
  h2 {
    font-size: 20px; }
  h3 {
    font-size: 25px; }
  h4 {
    font-size: 15px; }
  .articulo-principal .articulo-principal__div-parrafo .div-parrafo__parrafo-principal {
    font-size: 15px;
    padding: 10px; } }

@media only screen and (min-width: 576px) {
  .div__logo {
    height: 140px; }
  h1 {
    font-size: 40px; }
  h2 {
    font-size: 25px; }
  h3 {
    font-size: 30px; }
  h4 {
    font-size: 20px; }
  .articulo-principal .articulo-principal__div-parrafo .div-parrafo__parrafo-principal {
    font-size: 20px;
    padding: 15px; } }

@media only screen and (min-width: 992px) {
  .div__logo {
    height: 170px; }
  h1 {
    font-size: 55px; }
  h2 {
    font-size: 25px; }
  h3 {
    font-size: 30px; }
  h4 {
    font-size: 20px; }
  .articulo-principal .articulo-principal__div-parrafo .div-parrafo__parrafo-principal {
    font-size: 25px;
    margin: auto;
    padding: 20px; }
  .pedidos {
    width: 700px; } }

@media only screen and (min-width: 1200px) {
  .div__logo {
    height: 200px; }
  h1 {
    font-size: 70px; }
  h2 {
    font-size: 35px; }
  h3 {
    font-size: 30px; }
  h4 {
    font-size: 20px; }
  .articulo-principal .articulo-principal__div-parrafo .div-parrafo__parrafo-principal {
    font-size: 30px;
    margin: auto;
    padding: 25px; }
  .redesDeContacto {
    font-size: 0.8rem; }
  input {
    margin: 5px;
    width: 300px;
    height: 30px; }
  form {
    font-size: 10px; }
  div p {
    font-size: 0.8rem; } }
