/*COLORES*/
$rosa:#f8bbd0;
$colorcrema: #F7F1E3;
$negro:#323232;

/*TAMAÑOS*/
$minanchoimg:20px;
$altologo:100px;
$margenform:4px;
$bordeform:0px;
$anchoform:200px;
$altoform:20px;

header {
    background-color: $colorcrema;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 25px;
}

h2{
    font-size: 13px;
    color: $rosa;
    font-family: 'Lobster Two', cursive;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 10px;
    display: block;
}

h3 {
    font-size: 12px;
    color: $negro;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    padding: 25px;
    grid-area: titulo;
}

h4 {
    font-size: 11px;
    color: $negro;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: bold;
    text-align: left;
}

section {
    background-color: $rosa; 
    padding: 5px;  
}

article {
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: $colorcrema;
    padding-top: 5px;

    p.text-center{
    padding-bottom: 5px;
    margin: 0;

        a{
        text-decoration: none;
        color: $negro;
        font-size: 0.7em;
        }
        
        a:hover{
        color: $rosa;
            }
    }
}

p {
    color: $negro;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: 0.9em;
    text-align: left;
        var {
        font-weight: bolder;
        }
}

/*PRODUCTOS*/

ul, ol{
    list-style: none;
  }
  
.sabor{
    padding:10px;
    font-size: 0.9em;
    font-family: 'Pragati Narrow', sans-serif;
    max-width: 500px;
}

.sabor > li{
    padding:5px;
}

.sabor li > ul{
    display:none;
    position:relative;
    }

.sabor li:hover > ul{
    display:block;
}

/*NAV*/
.menu-nav { 
    background-color: #fcf0d6;
    border: none;
    align-items: flex-end;
}

.navbar-toggler {
    padding: .02rem .5rem;
    font-size: 1.2rem;
    font-family: 'Pragati Narrow', sans-serif;
}

a.menu-item.navbar-brand {
    font-size: 1em;
    font-family:'Pragati Narrow', sans-serif;
}

a.menu-item.nav-item.nav-link {
    font-size: 12px;
    font-family:'Pragati Narrow', sans-serif;
}

/*INDEX*/
.articulo-principal {
    padding: 10px;
    grid-area: articleIndex;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    .articulo-principal__div-img1{ 
        flex: 1;
        min-width: $minanchoimg;
    
        .imagenPrincipal1{
            width: 100%;   
        }
    }
    .articulo-principal__div-img2 {
        @extend .articulo-principal__div-img1;

        .imagenPrincipal2 {
            @extend .imagenPrincipal1
        }
    }
    .articulo-principal__div-parrafo {
        flex:1;

        .div-parrafo__parrafo-principal{
        color: #323232;
        font-family: 'Lobster Two', cursive;
        font-size: 10px;
        margin: auto;
        padding: 10px;
        font-weight: bold;  
        text-align: center;
        }
    }
}

.imagenRedesSociales{
    width: 2em;
}

/*CONTACTO*/
.div-contactanos {
    margin-top: 10px;
    margin-bottom: 25px;
    
    .div-contactanos__redes-contacto{
        color: $rosa;
        font-family:'Pragati Narrow', sans-serif;
        font-size: 10px;
        text-align: center;
        padding: 5px;
        margin: 0px;

        a {
            text-decoration: none;
            color: $negro;
        }
    }

    .div-contactanos__redes-contacto:hover{
        background-color: #fce4ec;
        
        a{
            color:$rosa;
        }
    }

    
}


/*FORM CONTACTO*/

fieldset {
    border: 0px;
    padding-top: 30px;
}

form {
    color: $negro;
    font-family:'Pragati Narrow', sans-serif;
    font-size: 12px;
    display: inline-block;
}

@mixin forma ($margenform, $bordeform, $anchoform, $altoform){
    
    margin: $margenform;
    border: $bordeform;
    width: $anchoform;
    height: $altoform; 
}
input  {
    @include  forma ($margenform, $bordeform, $anchoform, $altoform);
    border-radius: 50px;
}

select{
    @include  forma ($margenform, $bordeform, $anchoform, $altoform);
    border-radius: 50px;
}

textarea {
    @include  forma ($margenform, $bordeform, $anchoform, $altoform);
    border-radius: 10px;
}

.divForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.inputEnviar {
    font-family:'Pragati Narrow', sans-serif;
    background-color: #fce4ec;
}

.div__logo{
    height: $altologo;
    padding: 10px;
    display: inline-block;

    .div__logo-imagen {
        height: 100%;
    }
}


.pieDeTabla {
    color: #323232;
    font-family:'Pragati Narrow', sans-serif;
    font-size: 0.9em;
    text-align: center;
}

.ul__li-medios-de-pago{
    color: black;
    font-size: 10px;
    font-family:'Pragati Narrow', sans-serif;
    text-align: left;
}

.pedidos {
    display: inline-block;
    margin: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.parrafos-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
        .nuestraHistoria {
            @extend .pedidos
        }
}

.div-tarjetas{
    max-width: 80%;
    margin: auto;
    margin-top: 15px;

    .card{
        background-color: #ffeeff;
    }
    .card-body{
        background-color:#ffeeff;
        h5{
            font-family:'Pragati Narrow', sans-serif;
        }
        p{
            font-family:'Pragati Narrow', sans-serif;
        }
    }
}

@media only screen and (min-width: 554px){
    .div__logo{
        height: ($altologo)+25;
    }

    h1{
        font-size: 35px;
    }

    h2{
        font-size: 20px;;
    }

    h3{
        font-size: 20px;
    }

    h4{
        font-size: 15px;
    }

    p{
        font-size: 12px;
    }

    .articulo-principal .articulo-principal__div-parrafo .div-parrafo__parrafo-principal{
        font-size: 15px;
        padding: 10px;
    }

    p.div-contactanos.div-contactanos__redes-contacto.text-center {
        font-size: 15px;
    }

    .inputEnviar {
        font-size: 14px;
    }

    .ul__li-medios-de-pago{
        font-size: 12px;
    }

    .nuestraHistoria{
        font-size: 12px;
        padding: 0px 20px 10px 20px;
    }
}

@media only screen and (min-width: 768px){
    .div__logo{
        height: ($altologo)+40;
    }

    h1{
        font-size: 40px;
    }

    h2{
        font-size: 30px;
    }

    h3{
        font-size: 30px;
    }

    h4{
        font-size: 25px;
    }

    p{
        font-size: 14px;
    }

    .articulo-principal .articulo-principal__div-parrafo .div-parrafo__parrafo-principal{
        font-size: 25px;
        padding: 15px;
    }

    p.div-contactanos__redes-contacto.text-center {
        font-size: 18px;
    }

    label{
        font-size: 18px;
    }
    
    input{
        height: 25px;
        width: 300px;   
    }

    textarea{
        height: 25px;
        width: 300px;
    }

    .inputEnviar {
        font-size: 18px;
        }

    .ul__li-medios-de-pago{
        font-size: 14px;
    }

    .nuestraHistoria{
        font-size: 14px;
        padding: 0px 25px 15px 25px;
    }
    
}



@media only screen and (min-width: 992px){
    .div__logo{
        height: ($altologo)+70;
    }

    h1{
        font-size: 55px;
    }

    h2{
        font-size: 25px;
    }

    h3 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 20px;
    
    }

    a.menu-item.nav-item.nav-link, a.menu-item.navbar-brand{
        font-size: 20px;
    }

    .articulo-principal .articulo-principal__div-parrafo .div-parrafo__parrafo-principal{
        font-size: 25px;
        margin: auto;
        padding: 20px;
    }

    p.div-contactanos.div-contactanos__redes-contacto.text-center{
        font-size: 20px;
    }

    .pedidos{
        width: 700px;
    }

    .div-tarjetas{
        max-width: 50%;
    }

    .sabor{
        width: 500px;
    }

    footer p{
        font-size: 20px;
    }
}

@media only screen and (min-width: 1200px) {
    .div__logo{
        height: ($altologo)+80;
    }

    h1{
        font-size: 70px;
    }

    h2{
        font-size: 35px;
    }

    h3 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 25px;
    
    }

    .articulo-principal .articulo-principal__div-parrafo .div-parrafo__parrafo-principal{
        font-size: 30px;
        margin: auto;
        padding: 25px;
    }
    
    .redesDeContacto{
        font-size: 0.8rem;
    }
    
    input {
        margin: 5px;
        width: 300px;
        height: 30px;
    }

    form{
        font-size: 15px;
    }

    select{
        width:300px;
        height: 30px;
    }

    .inputEnviar{
        font-size: 15px;
    }

    div p{
        font-size: 1.5em;
    }
}





